run = "npm run start"
entrypoint = "server/index.js"
modules = ["nodejs-20"]

[env]
NODE_ENV = "production"

[deployment]
run = ["sh", "-c", "npm run build && npm run start"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run install:all && npm run build"]

[[ports]]
localPort = 3001
externalPort = 80
